{%extends "pages\base.html" %}
{%block title %}Login {%endblock %}
{%load static %}
{%block register %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" /> 

<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Sign Up</h3>
  
              <form class="px-md-2" method="POSt" action="">
                {% csrf_token %}

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">User Name</label>
                    <input type="text" name="username" id="form3Example1q" class="form-control" />
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Password</label>
                    <input type="text" name="password" id="form3Example1q" class="form-control" />
                </div>

                        
                             
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1">Submit</button>
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">You don't have account? <a href="/register/">Login</a></h3>
                {% for message in messages %}
                <p class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">{{message}}</p>
                {% endfor %}
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>    
{% endblock register %}