<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <link rel="stylesheet" href="{% static 'home/main.css' %}" />
    <script type="text/javascript">
      var user = "{{request.user}}";
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie("csrftoken");
    </script>
    <title>{%block title %}{%endblock %}</title>
    
  </head>
  <body>
    {% include 'pages/layout/navbar.html' %}

    {% block banner %} {% endblock banner %} 
    {% block products %} {% endblock products %}
    {% block cart_content %}{% endblock cart_content %}
    {% block content_checkout %}{% endblock content_checkout %}
    {% block register %}{% endblock register%}


    {% include 'pages/layout/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>

    <!-- <script src="{% static 'js/store.js' %}"></script> -->
  </body>
</html>
