{%extends "pages\base.html" %}
{%block title %}Home {%endblock %}
{%load static %}
{%block banner %}
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />  -->

<div class="banner" >
  <img src="{% static 'images/banner/cover.jpg' %}" class="slide">
  <img src="https://media.coolmate.me/cdn-cgi/image/width=1920,quality=80,format=auto/uploads/April2024/EX-DRY_BANNER_(1).png" class="slide">
</div>

<div class="container_1">
  <img
    src="https://media.coolmate.me/cdn-cgi/image/quality=80,format=auto/uploads/April2024/mceclip2_67.jpg"
    alt="Your Image"
  />
  <div class="overlay">
    <h2>ĐỒ CHẠY BỘ</h2>
    <h5>Trải nghiệm chưa từng có trong mỗi sảy chân</h5>
    <button>KHÁM PHÁ NGAY</button>
  </div>
</div>
{%endblock banner%}
