{% extends 'pages/base.html' %}
{% load static %}
{%block title %} Detail {%endblock %}
{% block detail %}
<link rel="stylesheet" href="{% static 'home/detail.css' %}"/>

{% include 'pages/layout/navbar.html' %}
{% for product in products %}
<div class="product-details" >
    <a class="product-image" href="{% url 'detail' %}?id={{product.id}}">
        <img class="Image" src="{{product.ImageUrl}}" alt="Product Image">
    </a>
    <div class="product-info">
        <a class="button" href="{% url 'products' %}">&#x2190; Continue Shopping</a>
        <h2 class="product-title">{{product.name}}</h2>
        <p class="product-description">{{product.detail}}</p>
        <p class="product-price">$ {{product.price}}</p>
        <button data-product={{product.id}} data-action="add" class="add-to-cart update-cart">Add to card</button>
    </div>
</div>
{% endfor %}
{% endblock detail %}