{%extends "pages\base.html" %}
{%block title %} Products {%endblock %}
{%load static %}
{%block products %}

{% include 'pages/layout/navbar.html' %}
{% include 'pages/products/banner.html' %}

{% block banner %}

{% endblock banner %} 


<div class="product-container">   
    {%for product in products %}
    <div class="product" style="width: 300px; margin: 20px;" >
        <a href="{% url 'detail' %}?id={{product.id}}">
            <img src="{{product.ImageUrl}}" alt="Product Image">
        </a>   
    <h5 class="name">{{product.name}}</h5>
    <p class="price">{{product.price}} $</p>
    <div class="buttons">
        <button data-product={{product.id}} data-action="add" class="add-to-cart update-cart">Add to Cart</button>
    </div>
    </div>

    {% endfor %}
</div>

{%endblock products %}
