{% extends 'pages/base.html' %}
{% load static %}
{%block title %} Products {%endblock %}

{% block search %}

{% include 'pages/layout/navbar.html' %}

<!-- <h5>{{searched}}</h5> -->
<div class="product-container">
    {%for product in keys %}

    <div class="product">

    <img src="{{product.ImageUrl}}" alt="Product Image">
    <h5 class="name">{{product.name}}</h5>
    <p class="price">{{product.price}} $</p>
    <div class="buttons">
        <button data-product={{product.id}} data-action="add" class="add-to-cart update-cart">Add to Cart</button>
        <button class="view">View</button>
    </div>
    </div>
    
    {% endfor %}
</div>

{% endblock search %}